/*General*/
body {
    margin: 0;
    font-family: Roboto;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1 {
    font-size: x-large;
}

h3 {
    color: #4682B4;
    font-size: large;
    text-align: center;
}

h4 {
    color: #4682B4;
    font-size: medium;
    text-align: center;
}

p {
    font-size: small;
}

button {
    width: 18em;
    height: 2.6em;
    border-radius: 19px;
    border-style: none;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    font-size: small;
}

ul {
    list-style-type: none;
    padding: 0;
}


/*Header*/
.navbar {
    text-transform: uppercase;
    color: #353638;
    font-weight: bold;
    padding-left: 30px;
}

.navbar-toggler {
    border: none;
    width: 40px;
    height: 30px;
    padding-right: 50px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: none;
    box-shadow: none;
}

.navbar-toggler span {
    width: 40px;
    height: 30px;
    color: #003169;
}

@media (min-width: 768px) {
    .navbar {
        padding: 0;
    }
}


/*Home first section*/
#home {
    background-image: url("/assets/img/background.png");
    height: fit-content;
}

#home .container {
    padding: 40px;
    color: #fff;
}

#home .container:first-child {
    padding-bottom: 0;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #home .container {
        padding: 100px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #home .container:first-child {
        padding-top: 200px;
    }
}


/*Clases de apoyo*/
#clasesApoyo, #encuentraProfesor, #testimonials, #igIntro, footer {
    padding-top: 80px;
    margin: 0 5px;
}

#clasesApoyo p, #encuentraProfesor p {
    text-align: center;
}

.pasos-como-funciona img {
    margin: auto;
    display: block;
}


/*Encuentra profesor*/
#encuentraProfesor{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apoyoButton{
    margin-top: 2em;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/*Carousel*/
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.book-light {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px 0;
}

.book-dark {
    background-color: #003169;
    color: #fff;
}

.book-dark h4 {
    color: #fff;
}


/*instagram*/
#igContainer {
    margin-left: -15px;
}

#secondPost, #thirdPost {
    display: none;
}

@media (min-width: 768px) {
    #secondPost, #thirdPost {
        display: block;
    }
}


/*Footer*/
footer {
    color:#353638;
    font-size: x-small;
    text-align: center;
}

#brandingText {
    color:#353638;
    font-size: x-small;
    text-align: left;
}


#footer{
    padding-bottom: 1em;
}