/*General*/
body {
    margin: 0;
    font-family: Roboto;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1 {
    font-size: x-large;
}

h3 {
    color: #4682B4;
    font-size: large;
    text-align: center;
}

h4 {
    color: #4682B4;
    font-size: medium;
    text-align: center;
}

p {
    font-size: small;
}

button {
    width: 18em;
    height: 2.6em;
    border-radius: 19px;
    border-style: none;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    font-size: small;
}

ul {
    list-style-type: none;
    padding: 0;
}


/*Header*/
.navbar {
    text-transform: uppercase;
    color: #353638;
    font-weight: bold;
    padding: 0;
}

.navbar-toggler {
    border: none;
    width: 27px;
    height: 18px;
    padding: 0;
    background-color: none;
    box-shadow: none;
}

.navbar-toggler span {
    width: 27px;
    height: 18px;
    color: #003169;
}


/*Home first section*/
#home {
    background-image: url("/assets/img/background.png");
    height: fit-content;
}

#home .container {
    padding: 40px;
    color: #fff;
}

#home .container:first-child {
    padding-bottom: 0;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #home .container {
        padding: 100px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #home .container:first-child {
        padding-top: 200px;
    }
}


/*Clases de apoyo*/
#clasesApoyo, #testimonials, #igIntro {
    padding-top: 30px;
}

#clasesApoyo p {
    text-align: center;
}

.pasos-como-funciona img {
    margin: auto;
    display: block;
}

/*
#encuentraProfesor{
    margin-top: 3.5em;
    width: 100%;
    background: #C1EAF7 0% 0% no-repeat padding-box;
    border-radius: 28px;
    padding: 3.7em 4.6em 2.25em 4.6em; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#apoyoButton{
    margin-top: 2em;
}
*/


/*Testimonials*/
/*
#carouselTestimonials {
    width: 60%;
}

#carouselTestimonials button {
    top: 50%;
    transform: translateY(-50%);
}
*/

/*instagram*/
/*
#instagram{
    background: #F1F9FF 0% 0% no-repeat padding-box;
}

#post{
    display: flex;
    justify-content: space-between;
}

.ig_post{
    width: 17.4em;
    height: 17.8em;
    margin: 5em 0 10em 0;
}
*/


/*Footer*/
/*
footer{
    background: #256EA3 0% 0% no-repeat padding-box;
    padding: 5em 8em 5em 8em;
    color:#fff;
}


#footerArriba{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px white;
    padding-bottom: 1em;
}

#footerArriba1{
    width: 40%;
}
*/
